[Unit]
Description=mysql exporter Server

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/local/bin/mysql_exporter
[Install]
WantedBy=multi-user.target
